{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'js/list_inv.js' %}"></script>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 3%;">Id</th>
        <th scope="col" style="width: 3%;">Nombre del producto</th>
        <th scope="col" style="width: 25%;">Descripcion</th>
        <th scope="col" style="width: 25%;">Categoria</th>
        <th scope="col" style="width: 35%;">Numero de serie</th>
        <th scope="col" style="width: 35%;">Cantidad en stock</th>
        <th scope="col" style="width: 35%;">Precio Unitario</th>
        <th scope="col" style="width: 35%;">Precio de compra</th>
        <th scope="col" style="width: 35%;">Fecha de compra</th>
        <th scope="col" style="width: 35%;">Nivel de reordenamiento</th>
        <th scope="col" style="width: 35%;">Acción</th>

    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}