{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'Venta/OrdenVenta.js' %}"></script>
{% endblock %}
{% block content %}
    {#    Card de Control de Búsqueda  #}
    <div class="card">
        <div class="card-header col-bluest">
            <h3 class="card-title ">
                <i class="fas fa-search"></i>
                Control de Búsqueda
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-primary" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="display: block;">
            <div class="row">
                <div class="col-sm-4">
                    <h5>Datos de Cuenta:</h5>
                    <p class="card-text">Cuenta: <b>{{ cuenta }}</b></p>
                    <p class="card-text">Id de Cuenta <b>{{ clientes.idClientes }}</b></p>
                    <p class="card-text">Razón Social: <b>{{ clientes.razonSocial }}</b></p>
                    <p class="card-text">Tipo Cliente <b>{{ Clientes.tipoCliente }}</b></p>
                    <p class="card-text">Representante Legal <b>{{ Clientes.representanteLegal }}</b></p>
                    <p class="card-text">RFC: <b>{{ Clientes.RFC }}</b></p>
                    <p class="card-text">Carrier <b>{{ Clientes.carrier }}</b></p>
                    <p class="card-text">Elite <b>{{ Clientes.elite }}</b></p>
                    <p class="card-text">Segmento <b>{{ Clientes.segmento }}</b></p>
                    <p class="card-text">Encargado <b>{{ Clientes.get_full_name }}</b></p>
                </div>
                <div class="col-sm-4">
                    <h5>Contacto y Entrega:</h5>
                    <p class="card-text">Email: <b>{{ Clientes.email }}</b></p>
                    <p class="card-text">Telefono Fijo: <b>{{ Clientes.telefono1 }}</b></p>
                    <p class="card-text">Telefono Móvil <b>{{ Clientes.telefono2 }}</b></p>
                    <p class="card-text">Domicilio Fiscal: <b>{{ Clientes.domicilioFiscal }}</b></p>
                    <p class="card-text">Domicilio Entrega: <b>{{ Clientes.domicilioEntrega }}</b></p>
                    <p class="card-text">Personal Autorizado 1: <b>{{ Clientes.personaAutorizada1 }}</b></p>
                    <p class="card-text">Personal Autorizado 2: <b>{{ Clientes.personaAutorizada2 }}</b></p>
                </div>
                <div class="col-sm-4">
                    <h5>Referencias:</h5>
                    <p class="card-text">Teléfono Personal Autorizado 1:<b>{{ Clientes.telefonoPersonaAutorizada1 }}</b></p>
                    <p class="card-text">Teléfono Personal Autorizado 2:<b>{{ Clientes.telefonoPersonaAutorizada2 }}</b></p>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action="." enctype="multipart/form-data">
        <input type="hidden" value="formatoEntrega" name="action" id="action">
        <div class="card">
            <div class="card-header col-bluest">
                <h3 class="text-center">Orden</h3>
            </div>
            <div>
                <div class="row">
                    <div class="form-group col-md-2">
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-bordered" id="data">
                    <thead>
                    <tr style="font-size: 15px;">
                        <th style="width: 2%;">#</th>
                        <th style="width: 10%;">Movimiento</th>
                        <th style="width: 18%;">Producto</th>
                        <th style="width: 10%;">Precio</th>
                        <th style="width: 5%;">Cantidad</th>
                        <th style="width: 10%;">Total</th>
                        <th style="width: 20%;">Comentario</th>
                        <th>X</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
             <div class="form-group col-md-4">
                        <a class="btn  form-control btn-primary" id="addRow">Adición</a>
                    </div>
            <div class="form-group col-md-3">
                <input type="submit" value="Enviar Orden" class="form-control btn-success" id="btnGuardar"
                       name="btnGuardar">
            </div>
        </div>
    </form>
{% endblock %}