{% extends 'home.html' %}
{% block body %}
    <body class="hold-transition sidebar-mini layout-fixed">
    {% block pantallaDeCarga %}
        <div class="centrado" id="onload">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    {% endblock %}

    <div class="wrapper">
        <!-- Header -->
        {% include 'vtc/header.html' %}
        <!-- Sidebar -->
        {% if request.user.tipoEmpleado.upper == 'ADMINISTRADOR' %}
            {% include 'vtc/sidebarAdministrador.html' %}

        {% elif request.user.tipoEmpleado.upper == 'COORDINADOR TOLUCA' %}
            {% include 'vtc/sidebarCoordinadorToluca.html' %}

          {% elif request.user.tipoEmpleado.upper == 'COORDINADOR ATIZAPAN' %}
            {% include 'vtc/sidebarCoordinadorAtizapan.html' %}

        {% elif request.user.tipoEmpleado.upper == 'COORDINADOR' %}
            {% include 'vtc/sidebarCoordinador.html' %}

            {% elif request.user.tipoEmpleado.upper == 'EJECUTIVO TOLUCA' %}
            {% include 'vtc/sidebarEjecutivoToluca.html' %}

          {% elif request.user.tipoEmpleado.upper == 'EJECUTIVO ATIZAPAN' %}
            {% include 'vtc/sidebarEjecutivoAtizapan.html' %}


        {% elif request.user.tipoEmpleado.upper == 'EJECUTIVO' or request.user.tipoEmpleado.upper == 'EJECUTIVOTOTAL' %}
            {% include 'vtc/sidebarEjecutivo.html' %}

        {% elif request.user.tipoEmpleado.upper == 'MESA DE CONTROL' %}
            {% include 'vtc/sidebarMesaControl.html' %}

        {% elif request.user.tipoEmpleado.upper == 'MESA DE CONTROL TOLUCA' %}
            {% include 'vtc/sidebarMesaControlToluca.html' %}

        {% elif request.user.tipoEmpleado.upper == 'MESA DE CONTROL ATIZAPAN' %}
            {% include 'vtc/sidebarMesaControlAtizapan.html' %}

        {% elif request.user.tipoEmpleado.upper == 'RH' %}
            {% include 'vtc/sidebarRH.html' %}

        {% elif request.user.tipoEmpleado.upper == 'VENTAS' %}
            {% include 'vtc/sidebarVentas.html' %}

        {% elif request.user.tipoEmpleado.upper == 'GENERAL' %}
            {% include 'vtc/sidebarGeneral.html' %}

        {% elif request.user.tipoEmpleado.upper == 'ATENCIONCLIENTES' %}
            {% include 'vtc/sidebarAtencionClientes.html' %}


        {% elif request.user.tipoEmpleado.upper == 'ATENCIONCLIENTESATIZAPAN' %}
            {% include 'vtc/sidebarAtencionClientesatizapan.html' %}
            
        {% elif request.user.tipoEmpleado.upper == 'ATENCIONCLIENTETOLUCA' %}
            {% include 'vtc/sidebarAtencionClientes.html' %}       

        {% elif request.user.tipoEmpleado.upper == 'TEVIMEX' %}
            {% include 'vtc/sidebarTevimex.html' %}

        {% elif request.user.tipoEmpleado.upper == 'ROYAL' %}
            {% include 'vtc/sidebarRoyal.html' %}
            <!-- nuevos cambios -->
        {% elif request.user.tipoEmpleado.upper == 'MONITOR' %}
            {% include 'vtc/sidebarMonitor.html' %}

        {% elif request.user.tipoEmpleado.upper == 'SISTEMAS' %}
            {% include 'vtc/sidebarSistemas.html' %}
        {% elif request.user.tipoEmpleado.upper == 'FINANZAS' %}
            {% include 'vtc/sidebarFinanzas.html' %}
        {% endif %}
        <!-- Content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    {% block encabezadoBienvenida %}
                    {% endblock %}
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    <!-- Block j
    avascript -->
    {% block javascript %}

    {% endblock %}
    <script>
        {% if messages %}
            var html = '<p>';
            {% for message in messages %}
                html += '{{ message }}<br>';
            {% endfor %}
            html += '</p>';
            Swal.fire({
                title: 'Error!',
                html: html,
                icon: 'error'
            });
        {% endif %}
    </script>
    </body>
{% endblock %}
